.page-title {
  color: #ff6600;
  text-align: center;
  font-size: 32px; /* Example font size */
  margin-top: 20px; /* Example margin */
}

body{
  background-colour:blue;
  text-align:center;
}

/* Add a border to the image */
img {
  border: 2px solid red
  padding: 10px;
  width: 100%;
  height: 50%;


/* Style for the div element with the class "songs" */
.songs {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 20px; /* Example margin */
}



/* Style for the list items inside the "songs" div */
.songs li {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

